@using VeioACalhar.Models
@model IEnumerable<VeioACalhar.Models.Pessoa>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h1>Clientes</h1>

<p>
    <a href="/Cliente/Create">Criar Novo</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Código
            </th>
            <th>
                Nome
            </th>
            <th>
                Tipo
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Nome
                </td>
                <td>
                    @if (item is ClienteFisico)
                    {
                        <span>Fisico</span>
                    }
                    else
                    {
                        <span>Juridico</span>
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
