@using VeioACalhar.Models
@model IEnumerable<VeioACalhar.Models.Pessoa>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h1>Clientes</h1>

<p>
    @Html.ActionLink("Criar Novo", "Create")
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Código
            </th>
            <th>
                Nome
            </th>
            <th>
                Tipo
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Nome
                </td>
                <td>
                    @if (item is ClienteFisico)
                    {
                        <span>Fisico</span>
                    }
                    else
                    {
                        <span>Juridico</span>
                    }
                </td>
                <td>
                    @Html.ActionLink("Detalhes", "Details", item) |
                    @Html.ActionLink("Editar", "Edit", item) |
                    @Html.ActionLink("Deletar", "Delete", item)
                </td>
            </tr>
        }
    </tbody>
</table>
