@model Fornecedor

@{
    ViewData["Title"] = "Detalhes do Fornecedor";
}

<div class="container">
    <div>
        <h4>@Model.Nome</h4>

        <hr />

        <dl class="row">
            <dt class="col-sm-2">
                Código
            </dt>
            <dd class="col-sm-10">
                @Model.Id
            </dd>

            <dt class="col-sm-2">
                Nome
            </dt>
            <dd class="col-sm-10">
                @Model.Nome
            </dd>

            <dt class="col-sm-2">
                Nome Fantasia
            </dt>
            <dd class="col-sm-10">
                @Model.NomeFantasia
            </dd>

            <dt class="col-sm-2">
                Inscrição Estadual
            </dt>
            <dd class="col-sm-10">
                @Model.InscricaoEstadual
            </dd>

            <dt class="col-sm-2">
                CNPJ
            </dt>
            <dd class="col-sm-10">
                @Model.Cnpj
            </dd>

            <dt class="col-sm-2">
                Pix
            </dt>
            <dd class="col-sm-10">
                @Model.Pix
            </dd>

            <dt class="col-sm-2">
                Email
            </dt>
            <dd class="col-sm-10">
                @Model.Email
            </dd>

            <dt class="col-sm-2">
                Telefone
            </dt>
            <dd class="col-sm-10">
                @Model.Telefone
            </dd>

            <dt class="col-sm-2">
                Endereço
            </dt>
            <dd class="col-sm-10">
                @Model.Endereco
            </dd>

            <dt class="col-sm-2">
                Observações
            </dt>
            <dd class="col-sm-10">
                @Model.Observacoes
            </dd>
        </dl>
    </div>

    <div>
        @Html.ActionLink("Voltar", "Index", new{ }, new { @class = "btn btn-outline-secondary", @style="width: 100px" })
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary", @style="width: 100px" })
    </div>
</div>