@model IEnumerable<Fornecedor>


@{
    ViewData["Title"] = "Fornecedores";
}

<div class="d-flex flex-column">
    <div class="d-flex justify-content-between align-items-end">
        <h1>Fornecedores</h1>

        <p>
            <a asp-action="Create" class="btn btn-primary">Criar Novo</a>
        </p>
    </div>

    <hr />

    <form class="input-group">
        <input type="search" class="form-control" placeholder="Procurar" name="search" />
        <input type="submit" class="btn btn-primary" value="Buscar" />
    </form>

    @if (Model.Any())
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" class="col-1">
                        Código
                    </th>

                    <th scope="col">
                        Nome
                    </th>

                    <th scope="col">
                        Pix
                    </th>

                    <th scope="col" class="col-2">
                        Ações
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var fornecedor in Model)
                {
                    <tr>
                        <th scope="row">
                            @fornecedor.Id
                        </th>

                        <td>
                            @fornecedor.Nome
                        </td>

                        <td>
                            @fornecedor.Pix
                        </td>

                        <td>
                            @Html.ActionLink("Detalhes", "Details", new {  id = fornecedor.Id }) |
                            @Html.ActionLink("Editar", "Edit", new { id = fornecedor.Id }) |
                            @Html.ActionLink("Deletar", "Delete", new { id = fornecedor.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-warning mt-2" role="alert">
            Nenhum fornecedor encontrado.
        </div>
    }
</div>