@model IEnumerable<Cliente>

@{
    ViewData["Title"] = "Clientes";
}

<div class="d-flex flex-column">
    <div class="d-flex justify-content-between align-items-end">
        <h1>@ViewData["Title"]</h1>

        <p>
            <a asp-action="Create" class="btn btn-primary">Criar Novo</a>
        </p>
    </div>

    <hr />

    <form class="input-group">
        <input type="search" class="form-control" placeholder="Procurar" name="search" />
        <input type="submit" class="btn btn-primary" value="Buscar" />
    </form>

    @if (!Model.Any())
    {
        <div class="alert alert-warning mt-3" role="alert">
            Nenhum cliente encontrado.
        </div>
    }
    else
    {
        <table class="table table-hover my-2">
            <thead>
                <tr>
                    <th scope="col" class="col-1">
                        @Html.DisplayNameFor(model => model.Id)
                    </th>

                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                   
                    <th scope="col" class="col-2">
                        @Html.DisplayNameFor(model => model.Telefone)
                    </th>

                    <th scope="col" class="col-2">
                        @Html.DisplayNameFor(model => model.Pix)
                    </th>

                    <th scope="col" class="col-2">
                        Ações
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cliente in Model)
                {
                    <tr>
                        <td scope="row">
                            @Html.DisplayFor(item => cliente.Id)
                        </td>

                        <td>
                            @Html.DisplayFor(item => cliente.Nome)
                        </td>

                        <td>
                            @Html.DisplayFor(item => cliente.Telefone)
                        </td>
                        
                        <td>
                            @Html.DisplayFor(item => cliente.Pix)
                        </td>

                        <td>
                            @Html.ActionLink("Detalhes", "Details", new { id=cliente.Id }) |
                            @Html.ActionLink("Editar", "Edit", new {  id=cliente.Id  }) |
                            @Html.ActionLink("Deletar", "Delete", new { id=cliente.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>